
body{
  background-color: #42b883;
  border-style:none;
  height:1px;
}

hr {
background-color: white;
border-style:none;
width: 50%;
height:3px;
}

table{
  background-color: #ff7e67;
}

img{
  width:200px;
}

h3{
  color: #35495e;

}

h2{
  color: #35495e;
}

h1{
  color: #35495e;
}

.personal{

}


.tube{
  border:4px;
  border-color: #35495e;
  border-style:solid;
  margin:auto;

}

.Bio{
  text-align: center;
  width: 700px;
  background-color: #ff7e67;
  border:4px;
  border-color: #35495e;
  border-style: solid;
}

.school{
  border:4px;
  border-color: #35495e;
  border-style: solid;
}
.column{
  float: left;
  width: 33.33%;
  padding: 2px;
}
.profileImage{

  border:4px;
  border-color: #35495e;
  border-style: solid;
}
.row::after {
  content: "";
  padding:2px;
  clear: both;
  display: table;
}
